@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    /* background: rgb(159,159,159);
    background: linear-gradient(0deg, rgba(159,159,159,1) 0%, rgba(181,181,181,1) 9%, rgba(207,207,207,1) 22%, rgba(255,255,255,1) 100%); */

    background: rgb(135,135,135);
    background: linear-gradient(0deg, rgb(88, 88, 88) 1%, rgb(138, 138, 138) 9%, rgba(207,207,207,1) 22%, rgba(255,255,255,1) 100%);
    background: url('/background2.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
} 

/* .network-bg-image {
  position: absolute;
  display: inline;
  width: 35%;
  height: 200px;
  top:68%;
  z-index: 1 !important;
  opacity: 0.7;
  pointer-events: none;
}
.network-bg-image2 {
  left: 31%;
}
.network-bg-image3 {
  left: 65%;
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
