body {
  background: rgb(246,173,255);
background: linear-gradient(180deg, rgba(246,173,255,1) 2%, rgba(251,218,255,1) 12%, rgba(217,217,217,1) 22%, rgba(255,255,255,1) 100%);
}

main {
  padding: 100px;
}

h1 {
  text-align: left;
  /* text-shadow: 1px 1px 2px black; */
}

.purple-gradient-background {
  background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
}

@media screen and (max-width: 640px) {
  h1 {
    text-align: center;
  }

  main {
    padding-left: 0;
    padding-right: 0;
  }
} 