
.leftPercentage:before{
    height: 100%;
    width: 50px;
    background-color: blue;
}

body {
    background: url('/background2.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
}